html{
  background-color:white;
}
body {
  padding: 0px;
  font: 14px "Avenir Next",Calibri, Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.container-images{
  position: relative;
}
img.tony{
  width: 40%;
  float: left;
}
img.rosie{
  width: 60%;
  padding-left: 10%;
  float:left;
}
@media only screen
and (min-device-width : 375px)
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3){
  input.bookings{
    display: inline-block;
    height: 42px;
    min-width: 80px;
    padding: 0 2em;
    border: 1px solid #bec3c8;
    border-radius: 3px;
    background-color: #fafafa;
    font-size: 11px;
    color: #64696e;
    line-height: 40px;
    font-weight: 700;
    text-align: center;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;
    user-select: none;
    cursor: pointer;
  }
  div.logo-placement{
    width: 90%;
    padding: 0% 0 0 15%;
    right: 20%;
  }
  a{
    font-size: 1.25em;
  }
  div.index{
    margin-top: 20%;
  }
}
@media only screen and (max-width: 600px) {
  div.logo-placement{
    width: 90%;
    padding: 0% 0 0 15%;
    right: 20%;
  }
  a{
    font-size: 1.25em;
  }
  div.index{
    margin-top: 20%;
  }
}
@media only screen and (min-width: 600px) {
  div.logo-placement{
    width: 80%;
    padding: 5% 0 0 15%;
  }
  a{
    font-size: 1.25em;
  }
}

@media only screen and (min-width: 1280px) {
  div.logo-placement{
    width:70%;
    padding: 0 0 0 30%;
  }
  a{
    font-size: 1.5em;
  }

}

.nav.right{
  float: right;
  padding: 3em 4em 3em 3em;
  right: 0px;
}