html{
  background-color:white;
}
body {
  padding: 0px;
  font: 14px "Avenir Next",Calibri, Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
div.logo-placement{
  width: 70%;
  padding: 10% 0 0 25%;

}