html{
  background-color:white;
}
body {
  padding: 0px;
  font: 14px "Avenir Next",Calibri, Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.container-images{
  position: relative;
}
img.tony{
  width: 40%;
  float: left;
}
img.rosie{
  width: 60%;
  padding-left: 10%;
  float:left;
}
@media only screen and (max-width: 600px) {
  div.logo-placement{
    width: 90%;
    padding: 50% 0 0 15%;
  }
  a{
    font-size: 1.25em;
  }
}
@media only screen and (min-width: 600px) {
  div.logo-placement{
    width: 80%;
    padding: 10% 0 0 25%;
  }
  a{
    font-size: 1.25em;
  }
}

@media only screen and (min-width: 1280px) {
  div.logo-placement{
    width:70%;
    padding: 0 0 0 30%;
  }
  a{
    font-size: 1.5em;
  }

}

.nav.right{
  float: right;
  padding: 3em 4em 3em 3em;
  right: 0px;
}