<body>
    <div class="column">
        <div class="index">
            <div class="width-wrap">
                <div>
                    <div class="next-to-content" id="root">
                        <div class="accordion-node" id="timeline-div">
                            <div class="logo-placement">
                                <a class="square-link" href="https://squareup.com/appointments/book/0R104SMS6SK0C/tony-s-new-york-ny">
                                    {{>logo}}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>