<body>
    <div class="column">
        <div class="container-tile col col-md-12">
            <form class="nav right" action="https://squareup.com/appointments/book/0R104SMS6SK0C/tony-s-new-york-ny">
                <input class="bookings" type="submit" value="Book Appointment">
                </input>
            </form>
        </div>
        <div class="index">
            <div class="width-wrap">
                <div>
                    <div class="next-to-content" id="root">
                        <div class="container-tile col col-md-12" id="timeline-div">
                            <div class="logo-placement">
                                <a class="square-link" href="https://squareup.com/appointments/book/0R104SMS6SK0C/tony-s-new-york-ny">
                                    {{>logo}}
                                    <div class="container-images">
                                        {{>tony}}
                                        {{>rosie}}
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>